<div [ngClass]="onlyProduct ? 'grid-container product':'grid-container'">
    <div *ngIf="!onlyProduct" class="grid-item"></div>
    <div class="grid-item overflow-hide">
        <div #widgetsContent class="custom-slider-main">
            <ng-template ngFor let-v [ngForOf]="data">
                <mat-card (click)="onPress.emit(v)" card-item>
                    <div img-group>
                        <img mat-card-image [src]="v?.img">
                    </div>
                    <div cat-name>{{v?.categoryName}}</div>
                </mat-card>
            </ng-template>
        </div>
    </div>
    <div  *ngIf="!onlyProduct" class="grid-item"></div>
</div>