[page-header]{
    display: block;
    padding: 16px;
    margin: 15px;
    background-color: var(--primary);
    color: #fff;
    min-height: 100px;
    h4{
        padding: 10px 15px;
        font-size: 18px;
        font-family: 'Roboto-Regular';
    }
}