<main no-padding>
    <section page-header>
        <div class="row">
            <div class="col-md-4 col-lg-12 col-xs-12 col-12">
               <h4> {{userProfile?.userType}} Profile</h4>
            </div>
            <div class="col-md-4 col-lg-12 col-xs-12 col-12"></div>
            <div class="col-md-4 col-lg-12 col-xs-12 col-12"></div>
        </div>
    </section>

    <section [style.padding.px]="15">
        <div class="row">
            <div class="col-md-6 offset-md-3 pr-5 pl-5">
                <mat-card [style.margin-top.px]="-75">
                    <div circle><img class="img-responsive" width="150px" src="../../../assets/images/profileUser.jpg" /></div>
                    <mat-card-content [style.padding.px]="15">
                        <div info-container>
                            <div title>Name:</div>
                            <div desc>{{userProfile?.name}}</div>
                        </div>
                        <div info-container>
                            <div title>Email:</div>
                            <div desc>{{userProfile?.email}}</div>
                        </div>
                        <div info-container>
                            <div title>Mobile:</div>
                            <div desc>{{userProfile?.mobile}}</div>
                        </div>
                        <div info-container>
                            <div title>Role:</div>
                            <div desc>{{userProfile?.userType}}</div>
                        </div>
                        <div info-container>
                            <div title>Created Date:</div>
                            <div desc>{{userProfile?.createdDate | date:'dd-MM-yyyy'}}</div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </section>
    
    
    
</main>
