<div class="app-container-wrap app-navbar-side app-header-fixed app-header-white" >
  <mat-sidenav-container *ngIf="isAuthenticated" class="app-container" [ngClass]="isFullWindow" autosize autoFocus>
    <mat-sidenav
      #sidenav
      class="app-sidenav" 
      (mouseenter)="onMouseEnter($event)" 
      (mouseleave)="onMouseLeave($event)"
      [ngClass]="isMiniVarient ? 'mini-varient' : 'full-varient'"
      [mode]="appModes"
      [opened]="true"
    >
      <div fixed-header-container>
        <button (click)="changeVarient()" mat-icon-button class="app-menu-button">
          <mat-icon>menu</mat-icon>
        </button>
        <div user-profile-header>
          <div class="profile text-center">
            <img src="../../assets/images/logo.png" class="img-responsive">
            <h6 name>Pradeep Dubey</h6>
            <p email>Pradeepd15594@gmail.com</p>
            <div *ngIf="isMiniVarient" id="mini-profile-user-name">PD</div>
          </div>
        </div>
      </div>
      <app-sidebar [varient]="isMiniVarient" [isOver]="isOver" ></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content #content class="app-content-wrap" [attr.over-sidenav-content]="appModes=='over'" [ngClass]="isMiniVarient ? 'mini-varient-sidenav-content':'full-varient-sidenav-content'">
      <div class="app-content">
        <app-header app-header-fixed></app-header>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <router-outlet *ngIf="!isAuthenticated"></router-outlet>
</div>