<div file-upload-container #dragDrop (click)="chooseFile($event,fileInput)" appDragDrop (onFileDropped)="uploadFile($event)" [attr.data-confirmation]="isConfirmation">
    <input hidden type="file" #fileInput (change)="confirmation($event.target.files)">
    <section before-upload>
        <div title>Drag & drop</div>
        <h5>a file here or <span>Browse</span></h5>
    </section>
    <section *ngIf="isConfirmation=='done'" after-upload>
        <div>
            <div title>Product xlsx</div>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [style.width.%]="progressBar"></div>
            </div>
            <h5>Uploaded Successfully</h5>
        </div>
    </section>
    <section confirmation-upload [ngClass]="isConfirmation=='asking' ? 'active':'hide'">
        <h6 confirmation-msg>Are you sure want to upload</h6>
        <button (click)="cancelUpload()" mat-ripple mat-light-button>Cancel</button>
        <button (click)="uploadFile($event)" mat-ripple mat-primary-button>Confirm Upload</button>
    </section>
</div>